.hero-image-container {
  display: grid;
  grid-template-columns: 0.4fr 0.8fr 2.3fr 0.5fr;
  grid-template-rows: 1.1fr 2fr 0.4fr 0.4fr;
}

.dot-1 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
  background: #cfa6f3;
}

.dot-2 {
  grid-column: 4;
  grid-row: 1;
  background: #ecbed0;
}

.hero-image {
  grid-column: 2 / span 2;
  grid-row: 1 / span 3;
  background: #e7ecbe;
  height: 600px;
  margin: 0;
}

.hero-info {
  align-self: center;
}

.share {
  align-self: end;
}

.share-container {
  position: relative;
}

.share-text {
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(-90deg);
}

.hero {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  max-width: 1200px;
  margin: auto;
  margin-top: 3rem;
}

.hero-left {
  grid-column: 1 / span 2;
  grid-row: 1;
  z-index: 1;
  display: grid;
}

.hero-right {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.hero-heading {
  font-size: 4rem;
}

.hero-text {
  color: #9c9c9c;
}

.hero-button {
  background: #eecbb7;
  border: none;
  padding: 10px 20px;
  font-weight: 700;
}
